<div class="container">
  <h1>Crawler configurator</h1>
  <p>Configure your crawler to track projects and gather data.</p>
  <p>
    <strong>Note:</strong> This is a work in progress. All the pages are not yet implemented and the visuals are not final.
  </p>
  <% if user_signed_in? %>
    <p>Welcome back, <%= "#{current_user.first_name} #{current_user.last_name}" %>!</p>
  <% end %>
</div>